# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# see https://help.github.com/en/articles/about-code-owners

# Order is important. The last matching pattern has the most precedence.

# teams that want to lock down their templates would insert rows here with the path to their template and the users/teams they want to own the items

# everything at the root, or inside docs, schema, scripts, cohorts requires workbooks team review
/*  applicationinsights-devtools
/Documentation/**   applicationinsights-devtools
/schema/**  applicationinsights-devtools
/scripts/** applicationinsights-devtools
/test/**    applicationinsights-devtools
/.pipelines/**  applicationinsights-devtools
/Cohorts/** applicationinsights-devtools

