{
"cohortType":2,
"version":"Cohorts/3.0",
"markDown":"{\"json\":\"## Authenticated Users\\r\\n---\"}",
"parameters":"{\"version\":\"KqlParameterItem/1.0\",\"query\":\"\",\"crossComponentResources\":[],\"parameters\":[]}",
"kqlItem":"{\"version\":\"KqlItem/1.0\",\"query\":\"\\r\\ncustomEvents\\r\\n| where timestamp > ago(3h)\\r\\n| project operation_Id \",\"showQuery\":false,\"size\":0,\"aggregation\":0,\"showAnnotations\":false}",
"query":"\r\ncustomEvents\r\n| where timestamp > ago(4h)\r\n| project operation_Id ",
"types":[
]
}